.navbar{
    background-color: rgb(208, 207, 209);
}
#img2{
    height: 590px;
}
button{
    background-color: rgb(218, 215, 209);
    font-weight: bold;

}
label{
    font-weight: bold;
}
#table{
    width: 60%;
    text-align: center;
}

#cardSIn{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    width: 45%;
    flex-wrap: wrap;
    height: 49%;
    text-align: center;
    margin: 2px;
}

.coo{
    padding-top: 15%;
}

#Submit{
    margin-top:2% ;
}
